.modern-cottage-projects {
      padding: 180px 0 125px 0;
      @media screen and (max-width: 767.98px) {
            padding: 50px 0 40px 0;
      }
      // .modern-cottage-projects__container
      &__container {
      }
      // .modern-cottage-projects__heading
      &__heading {
            margin: 0 0 60px 0;

            display: flex;
            justify-content: space-between;
            align-items: flex-end;
      }
      // .modern-cottage-projects__title
      &__title {
      }
      // .modern-cottage-projects__card
      &__card {
      }
      &-swiper-btns {
            display: flex;
            column-gap: 12px;
      }

      &-button-prev,
      &-button-next {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            transition: background-color .2s ease-in;
            border-radius: 100%;
            z-index: 100;
            cursor: pointer;
            &.swiper-button-disabled {
                  pointer-events: none;
                  opacity: 0.4;
            }
            & svg path{
                  transition: fill .2s ease-in;
            }
            &:hover {
                  background-color: var(--hover);
            }
            &:hover svg path {
                  fill: var(--color-white);
            }
      }
}

.modern-cottage-projects-swiper-btns {
}
.modern-cottage-projects-button-prev {
}
.modern-cottage-projects-button-next {
}
.swiper {
}
.modern-cottage-projects-swiper {
}
.swiper-wrapper {
}
.modern-cottage-projects-wrapper {
      margin: -100px;
      padding: 100px;
}
.swiper-slide {
}
.modern-cottage-projects-slide {
}
.card-modern-cottage-projects {
      display: flex;
      flex-direction: column;
      align-items: center;

      overflow: hidden;
      border-radius: 4px;
      box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
      // .card-modern-cottage-projects__image
      &__image {
            width: 390px;
            height: 345px;
            & img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
            }
      }
      // .card-modern-cottage-projects__content
      &__content {
            padding: 16px 0 24px 0;
            width: 100%;


            display: flex;
            flex-direction: column;
            align-items: center;
      }
      // .card-modern-cottage-projects__title
      &__title {
            margin: 0 0 4px 0;

            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.5; /* 30px */
            color: var(--gray-900);
      }
      // .card-modern-cottage-projects__subtitle
      &__subtitle {
            margin: 0 0 24px 0;

            text-align: center;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5; /* 21px */
            color: var(--gray-700);
      }
      // .card-modern-cottage-projects__btn
      &__btn {
            margin-bottom: -75px;
            padding: 0 32px;
            
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 3.14; /* 314.286% */
            letter-spacing: 0.5px;
            text-transform: uppercase;

            color: var(--color-orange);
            transition: all .2s ease-in;
            border-radius: 4px;
            border: 1px solid var(--color-orange);
            &:hover {
                  background-color: var(--hover);
                  color: var(--color-white);
            }
      }
      &:hover &__btn{
            margin-bottom: 0;
      }
}


