.news {
      padding: 90px 0 120px 0;

      @media screen and (max-width: 767.98px) {
            padding: 30px 0 50px 0;
      }
      // .news__container
      &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
      }
      // .news__title
      &__title {
            margin: 0 0 60px 0;
      }
      // .news__cards
      &__cards {
            display: grid;
            grid-template-columns: minmax(500px, 705px) minmax(350px, 495px);
            grid-template-rows: 1fr 255px;
            grid-template-areas: 
            "big small-1"
            "big small-2";
            gap: 30px;
            @media screen and (max-width: 1000px) {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
            }
      }
      // .news__card
      &__card {

      }
      // .news__explore-all
      &__explore-all {
      }
}

.card-news {
      transition: box-shadow .2s ease-in;

      border-radius: 4px;
      background: var(--white, #FFF);
      color: inherit;
      &:hover .content-card-news{
            box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.10), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
      }
      &:hover .content-card-news__title{
            color: var(--color-orange);
      }
      
      &:nth-child(1){
            grid-area: big;
      }
      &:nth-child(2) {
            grid-area: small-1;
            & .content-card-news{
                  padding: 16px 24px 24px 24px;
                  &__info {
                        margin: 0;
                  }
            }
      }
      &:nth-child(3) {
            grid-area: small-2;
            & .content-card-news{
                  padding: 16px 24px 24px 24px;
                  &__info {
                        margin: 0;
                  }
            }
      }
      
      // .card-news__image
      &__image {
      }
      // .card-news__content
      &__content {
      }
}
.content-card-news {
      padding: 24px;
      transition: box-shadow .2s ease-in;
      box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
      // .content-card-news__title
      &__title {
            margin: 0 0 12px 0;

            transition: color .2s ease-in;

            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.5; /* 30px */
            color: var(--gray-900);
            @media screen and (max-width: 665px) {
                  font-size: 1.1rem;
            }
            @media screen and (max-width: 500px) {
                  font-size: 1rem;
            }

      }
      // .content-card-news__info
      &__info {
            margin: 0 0 16px 0;

            display: flex;
            align-items: center;
      }
      // .content-card-news__name
      &__name {
            position: relative;
            padding: 0 12px 0 0;
            margin: 0 12px 0 0;

            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5; /* 21px */
            color: var(--gray-700);
            &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: 0px;
                  width: 12px;
                  transform-origin: right;
                  height: 1px;
                  transform: rotate(90deg) translateX(5px);
                  background-color: #787A80;
            }
      }
      // .content-card-news__date
      &__date {
            position: relative;
            padding: 0 12px 0 0;
            margin: 0 12px 0 0;

            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5; /* 21px */
            color: var(--gray-700);
            &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: 0px;
                  width: 12px;
                  transform-origin: right;
                  height: 1px;
                  transform: rotate(90deg) translateX(5px);
                  background-color: #787A80;
            }
      }
      // .content-card-news__comments
      &__comments {
            display: flex;
            align-items: center;
            column-gap: 8px;

            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5; /* 21px */
            color: var(--gray-700);
      }
      // .content-card-news__text
      &__text {
            max-width: 650px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.6; /* 25.6px */
            color: var(--gray-800);
            @media screen and (max-width: 665px) {
                  font-size: 0.925rem;
            }
            @media screen and (max-width: 500) {
                  font-size: 0.825rem;
            }
      }
}

